/* css for the form */
.add__user__form{
    width: 40%;
    margin: 0 auto;
    margin-top: 96px;
}

.add__user__form h1{
    color: #0f9dce;
    text-align: center;
}

.add__user__form__input{
    padding-top: 40px;
}

.add__user__form__buttons{
    text-align: center;
    margin-top: 48px;
}

.form--errors, .form--errors:focus {
    border-bottom: 2px solid #ef9a9a;
}

.form--errors::placeholder, .form--errors::-webkit-input-placeholder {
    color: #ef9a9a;
}
