/* css for the form */
.add__user__form{
    display: block;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 80px;
}

.add__user__form h1{
    color: #0f9dce;
    text-align: center;
}

.add__user__form__input{
    padding-top: 40px;
}

.add__user__form__button{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.form__errors{
    color: red;
}
