/* css for the form */
.add__user__form{
    width: 40%;
    margin: 0 auto;
    margin-top: 64px;
}

.add__user__form h1{
    color: #0f9dce;
    text-align: center;
}

.add__user__form__input{
    padding-top: 40px;
}

.add__user__form__buttons{
    text-align: center;
    margin-top: 48px;
}

.form__errors{
    color: red;
}
