.alert__container {
    padding: 16px;
    margin: 32px auto;
    text-align: center;
    border-radius: 8px; 
    display: none;
}

.alert__container p {
    margin: 0;
}

.alert--success {
    background-color: #1de9b6;
    color: #004d40;
    display: block;
}

.alert__container li {
    color: #004d40;
    font-size: 14px;
}

.alert--error {
    background-color: #ef9a9a;
    color: #b71c1c;
    display: block;
}