.card--hide {
    height: 0;
    transition: all .5s ease-out;
}

.card--show {
    height: 100%;
    transition: all .5s ease-out;
}

.card__grid {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 96px auto;
}

.card__container {
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 8px grey;
    height: 250px;
    width: 200px;
    overflow: hidden;
    margin: 35px;
    position: relative;
}

.card__container:hover {
    box-shadow: 1px 1px 8px #0f9dce;
}

.card__details {
    position: relative;
    padding: 12px;
    background-color: white;
    /* opacity: 0.95; */
    text-align: center;
}

.card__details li {
    margin: 5px;
}

.card__media {
    /* position: relative; */
}

.card__details ul {
    list-style: none;
    padding: 0;
}

.card__media img {
    width: 100%;
    border-bottom: 1px solid grey;
}

.card__media h1{
    font-size: 18px;
    position: absolute;
    bottom: 0;
    /* vertical-align: middle; */
    text-align: center;
    /* padding-left: 8px; */
    background: #fff;
    width: 100%;
    margin: 0;
    opacity: 0.9;
    padding: 10px;
}


.user__edit__button {
    position: absolute;
    z-index: 1;
    display: none;
    /* visibility: hidden; */
    border-radius: 0;
    width: 200px;
    box-sizing: border-box;
    margin: 0;
    /* opacity: 0.95; */
    /* bottom: 100px; */
}

.card__container:hover .user__edit__button {
    display: block;
}

.user__show__more__button {
    margin-top: 72px;
    text-align: center;
    color: #0f9dce;
    font-size: 16px;

}

.user__show__more__button:hover {
    color: #47bef5;
 }

 @media screen and (max-width: 700px) and (min-width: 580px) {
    .card__grid{
        margin-top: 100px;
    }
  }

  @media screen and (max-width: 579px) {
    .card__grid{
        margin-top: 170px;
    }
  }