.header__container {
  padding: 18px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 8px grey;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.header__search {
  margin: 0 auto;
}

.header__logo__img {
  height: 100%;
}

.header__logo {
  height: 48px;
}

.header__buttons {
  display: flex;
}

.hidden{
  display: none;
}

.add__mobster__icon {
  font-size: 1.3rem;
}

@media screen and (max-width: 800px) and (min-width: 580px) {
  .header__container{
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-around;
  }

  .header__logo__img {
    display: none;
  }
  
  .header__logo{
    height: 70px;
  }

  .header__logo__img--small{
    display: inline-block;
    height: 100%;
  }
}

@media screen and (max-width: 579px) {
  .header__container{
    height: 90px;
    justify-content: space-around;
    padding: 0px;
  }

  .header__logo__img {
    display: none;
  }
  
  .header__logo{
    height: 70px;
  }

  .header__logo__img--small{
    display: inline-block;
    height: 100%;
  }

  .header__buttons{
    margin: 5px;
  }

  .add__mobster__icon {
    display: inline;
}
}