.header__container {
  padding: 18px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 8px grey;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.header__logo__img {
  height: 100%;
}

.header__logo {
  height: 48px;
}

.header__buttons {
  display: flex;
}