.headercomponentlogomobiquity {
    height: 2.3rem;
    padding: 10px;
    padding-top: 15px;
}

.headercomponentgrow {
  flex-grow: 1;
  /* align-self: flex-end; */
}

.MuiAppBar-colorPrimary-8 {
  background-color: #fff !important;
}
