.login__form__container{
    width: 300px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}

.login__form__container h1{
    color: #0f9dce;
}

.login__form{
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
}

.login__input{
    display: block;
    margin-top: 30px;
}

.login__button{
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}