.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.standard__button__style{
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #0f9dce;
  color: white;
  font-size: 18px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 4px;
}

.standard__button__style:focus {
  outline-width: 0;
}

.standard__button__style:hover{
  background-color: #098bb6;
  color: white;
}

.standard__input__style{
  width: 100%;
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  font-size: 17px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

::placeholder{
  font-size: 20px;
}



