.modal__container {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.modal__container__card{
    background-color: white;
    height: 800px;
    width: 600px;
    box-sizing: border-box;
    border-radius: 3%;
    animation: fadeIn .2s linear;
    position: relative;
    background-image: url(../dust_scratches.png);
}

  .modal__container__card--image{
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 400px;
    padding: 3rem;
  }

  .modal__container__card--image img{
    object-fit: cover;
    border-bottom: 3px solid #0f9dce;
  }

  .modal__container__card ul li{
    padding: 1rem;
    opacity: 0.8;
  }

  .modal__container__card--button{
    font-size: 2.5rem;
    color: #0f9dce;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
