ul, li {
  list-style: none;
  padding: 0;
  color: black;
}

.searchinput {
  flex-grow: 1.5;
  color: black;
}

.search__user__input {
  margin: 10px;
  width: 250px;
  display: flex;
}

.standard__input__style:focus{
  border: none;
  box-shadow: 0px 2px 0px #0f9dce;
}

.standard__input__style::placeholder{
  font-size: 20px;
}

.search__input__wrapper{
  display: flex;
  color: gray;
}

.search__icon{
  font-size: 20px;
  color: gray;
  margin-right: 10px;
  margin-top: 2px;
}

.search__user__input--invalid {
  color: #f44336;
}



